<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
       <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <h4 class="modal-title">Hi! AOF Lover</h4>
      </div>
      <div class="modal-body">
        <form>
			<label for="name">Ingresar nombre </label>
			<input type="text" name="name" placeholder=" nombre">
			<br>
			<label for="email">Ingresar e-mail </label>
			<input type="email" name="email" placeholder=" ejemplo@email.com">
			<br>
			<label for="phone">Ingresar telefono </label>
			<input type="tel" name="phone" placeholder=" 2316507">
			<br>
			<label for="coment">Ingresa Comentario </label>
			<input type="text" name="coment" placeholder=" Ingresar comentario">
			<br>
			
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Guardar y Salir</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>