
/*--img {--*/
  /*width: 100%;*/
  /*height: auto;*/
  /*--display: block;--*/
  /*object-fit: cover;*/
/*--}--*/

/*styles for title*/
.title{
	text-align: center;
	padding: 4em 0;
}

.titleUnits{
	font-weight: bolder;
  font-size: 3em; 
  -webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: #d93f28; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}

/*styles for the grid*/
.hexagon-gallery {
  margin: auto;
  display: grid;
  /*8 columns*/
  /*repeat 8 times, each one the same size*/
  grid-template-columns: repeat(10, 1fr);
  /*rows size*/
  grid-auto-rows: 2.5rem;
  /*space between tiles*/
  grid-gap: 1.5rem;
  padding-bottom: 50px;
}

/*styles for each one*/
.hex {
  display: flex;
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: #424242;
  /*view just a part of the div*/
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.hex:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.hex:nth-child(3) {
  grid-row-start: 1;
  grid-column: 6 / span 2;
}

.hex:nth-child(4) {
  grid-row-start: 1;
  grid-column: 8 / span 2;
}

.hex:nth-child(5) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hex:nth-child(6) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.hex:nth-child(7) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.hex:nth-child(8) {
  grid-row-start: 2;
  grid-column: 7 / span 2;
}

.hex:nth-child(9) {
  grid-row-start: 2;
  grid-column: 9 / span 2;
}

.hex:nth-child(10) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hex:nth-child(11) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}


.hex:nth-child(12) {
  grid-row-start: 3;
  grid-column: 6 / span 2;
}


.hex:nth-child(13) {
  grid-row-start: 3;
  grid-column: 8 / span 2;
}

.hex:nth-child(14) {
  grid-row-start: 4;
  grid-column: 1 / span 2;
}

.hex:nth-child(15) {
  grid-row-start: 4;
  grid-column: 3 / span 2;
}

.hex:nth-child(16) {
  grid-row-start: 4;
  grid-column: 5 / span 2;
}

.hex:nth-child(17) {
  grid-row-start: 4;
  grid-column: 7 / span 2;
}

.hex:nth-child(18) {
  grid-row-start: 4;
  grid-column: 9 / span 2;
}
/*
@media (max-width: 767px) {
  .hex-grid {
    width: 100%;
    left: 0;
  }
}
*/

.imgPrincipal2{
	max-width: 70%;
	margin: 0 auto;
}

.imgMin2{
display: block;
cursor:pointer;
}

/*styles for information*/
.information2{
  text-align: center;
  padding: 2em 0;
}

.ArcherIcon{
  -webkit-filter:blur(0px);
}

.ArcherIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.CrossbowmanIcon{
  -webkit-filter:blur(0px);
}

.CrossbowmanIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.ArbalestIcon{
  -webkit-filter:blur(0px);
}

.ArbalestIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}


.CavalryArcherIcon{
  -webkit-filter:blur(0px);
}

.CavalryArcherIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.HeavyCavalryArcherIcon{
  -webkit-filter:blur(0px);
}

.HeavyCavalryArcherIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.HandCannoneerIcon{
  -webkit-filter:blur(0px);
}

.HandCannoneerIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.SkirmisherIcon{
  -webkit-filter:blur(0px);
}

.SkirmisherIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.EliteSkirmisherIcon{
  -webkit-filter:blur(0px);
}

.EliteSkirmisherIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.EagleWarriorIcon{
  -webkit-filter:blur(0px);
}

.EagleWarriorIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.EagleWarrior2Icon{
  -webkit-filter:blur(0px);
}

.EagleWarrior2Icon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.EliteEagleWarriorIcon{
  -webkit-filter:blur(0px);
}

.EliteEagleWarriorIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}



.SpearmanIcon{
  -webkit-filter:blur(0px);
}

.SpearmanIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.PikemanIcon{
  -webkit-filter:blur(0px);
}

.PikemanIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}


.HalberdierIcon{
  -webkit-filter:blur(0px);
}

.HalberdierIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.MilitiamIcon{
  -webkit-filter:blur(0px);
}

.MilitiamIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.ManAtArmsIcon{
  -webkit-filter:blur(0px);
}

.ManAtArmsIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.LongSwordmanIcon{
  -webkit-filter:blur(0px);
}

.LongSwordmanIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.TwoHandedSwordsmanIcon{
  -webkit-filter:blur(0px);
}

.TwoHandedSwordsmanIcon:hover{
  transition: all 0.2s ease;
  -webkit-filter:blur(2px);
}

.nameUnit{
  font-size: 2.5em;
  color:#a06121;
}

.expansionUnit{
font-size: 1.3em;
color:#a06121;
}

.descriptionUnit{
  font-size: 1.3em;
  color:#a06121;
}

/*














*/